html, body {
  background-color: #FFF0DC;
  overflow: hidden;
}

header h1 {
  font-family: 'Amatic SC', serif;
  font-size: 6em;
  font-weight: 700;
  margin: 0;
}

#side-container {
  font-family: 'Merriweather Sans', serif;
  float: left;
  width: 30%;
  margin: 1%;
  padding: 1%;
  font-size: .8em;
  background-color: #ffffff;
}

#brain-container {
  font-family: 'Amatic SC', serif;
  float: right;
  width: 65%;
  background-color: #FFF0DC;
  margin-top: 1%;
  padding: 0;
}

section label {
  font-family: 'Amatic SC', serif;
  font-size: 1em;
}

#results {
  height: 650px;
  overflow: scroll;
}

#results h2 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0;
}

#results a {
  font-size: inherit;
  text-decoration: none;
  color: #9B3516;
}

#results .cite {
  margin-top: .25em;
  margin-bottom: 1.4em;
}

#results .date {
  color: #8B5729;
}

#dx {
  font-size: inherit;
}


