html, body {
  background-color: #FEFADD;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

section {
  padding: 1em;
}

label {
  font-weight: 700;

}

header h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-weight:700;
  margin: 0;
  color: #000;
}

select {
  background-color: #ffdf12;
  border: none;
  line-height: 1.5;
  font-size: 1.5em;
  width: 60%;
  text-transform: uppercase;
  font-weight: 400;
  float: right;
}

input {
  background-color: #ffdf12;
  border: none;
  border-bottom: 2px #000000 solid;
  float: right;
}

.buttons {
  float: right;
}

button {
  text-align: center;
  background-color: #ffdf12;
  border: none;
  line-height: 1.5;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 400;
}

button:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

#side-container {
  font-family: 'Raleway', sans-serif;
  float: left;
  height: 100%;
  width: 30%;
  margin: 0;
  background-color: #ffdf12;
}

#brain-img {
  z-index: -1;
}

#drawings {
  z-index: 1;
}

#brain-container {
  font-family: 'Amatic SC', serif;
  float: right;
  width: 65%;
  height: 90%;
  background-color: #FEFADD;
  margin-top: 1%;
  margin-right: 2%;
  padding: 0;
}

#results {
  height: 79%;
  overflow: auto;
  margin: 2% 0;
  background-color: #ffffff;
  font-weight: 500;
}

#results h2 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0;
}

#results a {
  font-size: inherit;
  text-decoration: none;
  color: #000000;
}

#results .cite {
  margin-top: .25em;
  margin-bottom: 1.4em;
}

#results .date {
  color: #383838;
}
